* {
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
}

/* Common  */
.main-content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.primary-btn {
    height: 60px;
    width: 200px;
    background-color: #090761;
    border: none;
    border-radius: 5px;
}

/* ========================HEADER========================== */


.header-content  {
    width: 1730px;
    max-width: calc(100%-48px);
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 24px;
}

.header a {
    color: #848d96;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-left: 32px;
}

.header a:hover {
    color: #090761;
}

.search {
    margin-left: 32px;
    width: 450px;height: 50px;
    border: 1px solid #e7e7ec;
}

.header .navigation {
    margin-left: auto;
}

/* ========================HERO========================== */
.hero {
    margin-top: 90px;
}

.hero .hero-left {
    width: 46%;
    padding: 90px 0 124px;
}
.hero .hero-body {
    display: flex;
}

.hero h1 {
    font-size: 60px;
    line-height: 1.2;
}

.hero h1 strong {
    color: #ffc78b;
}

.hero .sub-title {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
}

.hero .action {
    margin-top: 16px;
    display: flex;
}

.hero .action-1 {
    background-color: white;
    border: 1px solid  #090761;
    margin-right: 24px;
}
.hero .action-2 {
    background-color: #090761;
    margin-right: 24px;
}

.hero .action-1:hover {
    background-color: #090761;
}

.hero .action-2:hover {
    background-color: #06043d;
}

.hero .action-1 a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #090761;
    padding: 16px 20px;
}

.hero .action-2 a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 16px 20px;
}

.hero .action-1 a:hover {
    color: #fff;
}


.hero .hero-img {
    position: absolute;
}


/* ========================FEATURE========================== */

.features {
    margin-top: 96px;
    padding-top: 100px;
    background-color: #f7f9fb;
    padding-bottom: 72px;
}

.features .features-title {
    color: #2f2d51;
    font-size: 35px;
    font-weight: 500;
}

.features .feature-sub {
    margin-top: 16px;
    color: #77838F;
    font-size: 18px;
    font-weight: 400;
}

.features .body .all-feature {
    text-decoration: none;
    font-size: 16px;
    color: #090761;
    font-weight: 600;
    display: block;
    margin-top: 16px;    
    float: right;
}

.features .courses {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}


.features .courses {
    margin-top: 48px;
}

.features .course-item {
    padding: 5px 5px 0;
    border: 1px solid #E7E7EC;
    box-shadow: 0 0.5rem 0.937rem rgb(140 152 164 / 10%)
}

.features .course-img {
    width: 333px;
    height: 291px;
    object-fit: cover;
}

.course-item .course-top {
    position: relative;
}

.features .body .course-features {
    position: relative;
    background-color: #B8B2FD;
    height: 30px;
    width: 88px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    border-radius: 999px;
    display: none;
    position: absolute;
    left: 15px;
    bottom: 17px;
}

.svg-icon-1 {
    width: 36px;
    height: 36px;
    background-color: violet;
    border-radius: 999px;
    position: absolute;
    display: none;
    top: 15px;
    right: 15px;
    opacity: 0.7;
}

.features .course-teacher-avt {
    border-radius: 999px;
    border: 5px solid #fff;
    position: absolute;
    /* display: none; */
    height: 70px;
    width: 70px;
    right: 25px;
    bottom: -32px;
}

.features .course-bot .course-type {
    margin-top: 20px;
    color: #77838F;
    font-size: 16px;
}

.features .course-bot .course-information {
    width: 319px;
    height: 135px;
    margin-top: 20px;
    padding: 0 10px;
}

.features .course-bot .course-information .price-before {
    text-decoration: line-through;
    font-size: 16px;
    color: #77838F;
    font-weight: 400;
}

.features .course-bot .course-name {
    color: #2f2d51;
    font-size: 20px;
    font-weight: 00;
}

.features .course-bot .course-rate {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #77838F;
}

.features .course-bot .price-before {
    margin-top: 8px;
    float: right;
}

.features .course-information .course-info {
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #77838F;
}

.features .course-info .course-lesson,
.features .course-info .course-time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .svg-icon {
    margin-right: 10px;
}

.features .course-price {
    font-size: 20px;
    color: #2f2d51;
    font-weight: 500;
}

.scroll {
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.scroll-item {
    height: 8px;
    width: 8px;
    border-radius: 999px;
    background-color: #77838F;
    margin-right: 10px;
}

 .scroll-item.active{
    width: 20px;
    background-color: #090761;
}


/* ==============================TRENDING CATEGORIES============================ */
.trend {
    padding: 96px 0 130px;
}

.trend h2 {
    color: #2f2d51;
    font-size: 35px;
    font-weight: 500;
}

.trend .sub-trending {
    margin-top: 16px;
    color: #77838F;
    font-size: 18px;
    font-weight: 400;
    
}

.trend .all-trend {
    text-decoration: none;
    font-size: 16px;
    color: rgb(9, 7, 97);
    font-weight: 600;
    display: block;
    margin-top: 16px;
    float: right;
}

.trend .trend-content {
    margin-top: 78px;
}

.trend .trend-row{
    display: flex;
    justify-content: space-between;
}

.trend .trend-row:first-child {
    margin-bottom: 35px;
}

.trend .trend-row .trend-item {
    width: 22.5%;
    border: 1px solid #e7e7ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.5rem 1.5rem rgb(140 152 164 / 15%);
}

.trend .trend-row .trend-item{
    transition: transform 0.2s ease;
}

.trend .trend-row .trend-item:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.trend .trend-item i{
    color: #77838f;
    font-size: 50px;
    margin-top: 60px;
}

.trend .trend-item .trend-name {
    font-size: 18px;
    font-weight: 500;
    color: #2f2d51;
    margin-top: 35px;
}

.trend .trend-item .trend-sub {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #77838f;
    margin-bottom: 26px;
}

/* ============================COMMENT========================== */
.comment {
    padding-top: 100px;
    padding-bottom: 45px;
    background-color: #f7f9fb;
}

.comment h2:first-child{
    text-align: center;
}

.comment .comment-sub{
    text-align: center;
}

.comment h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    font-weight: 500;
    color: #2f2d51;
}

.comment .comment-sub {
    margin-top: 16px;
    font-size: 18px;
    color: #77838F;
}

.comment .comment-people {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.comment .comment-people .comment-item {
    width: 32%;
    border: 2px solid #edeff3;
    box-shadow: 0 0.5rem 0.937rem rgb(140 152 164 / 10%);
    background-color: #fff;
    border-radius: 5px;
    padding: 36px 38px;
}

.comment .comment-author .author-pic {
    border-radius: 999px;
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.comment .comment-author {
    display: flex;
    align-items: center;
}

.comment .comment-author .author-info {
    margin-left: 22px;
}

.comment .author-info .author-name {
    font-size: 18px;
    font-weight: 500;
    color: #2f2d51;
}

.comment .author-info .author-job {
    margin-top: 10px;
    font-size: 16px;
    color: #77838F;
}

.comment .author-speak {
    margin-top: 25px;
    color: #77838F;
    font-size: 16px;
    line-height: 24px;
}

.collab .body {
    margin-top: 70px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.collab .body .content {
    display: flex;
    justify-content: space-between;
}

.collab .content svg {
    height: 34px;
}

/* ============================EVENT=========================== */
.event {
    margin: 100px 0 90px;
}

.event h2 {
    color: #2f2d51;
    font-size: 35px;
    font-weight: 500;
}

.event .event-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event .event-row .event-sub {
    margin-top: 16px;
    color: #77838F;
    font-size: 18px;
    font-weight: 400;
}

.event .event-row .all-event {
    margin-top: 16px;
    text-decoration: none;
    font-size: 16px;
    color: #090761;
    font-weight: 600;
}

.event .event-table {
    margin-top: 45px;
}

.event .event-table .event-content {
    display: flex;
    justify-content: space-between;
}

.event .event-content .event-item {
    width: 48.5%;
    border: 1px solid #e7e7ec;
    box-shadow: 0 0.5rem 0.937rem rgb(140 152 164 / 10%);
    border-radius: 5px;
    display: flex;
    padding: 8px 50px 8px 8px;
    margin-bottom: 32px;
}

.event .event-content .event-item{
    transition: 0.3s ease;
}

.event .event-content .event-item:hover {
    transform: translateY(-5px);
}

.event .event-item .event-img {
    width: 150px;
    height: 140px;
    object-fit: cover;
}

.event .event-item .event-img:hover {
    cursor: pointer;
}

.event .event-item .event-infor {
    margin-left: 22px;
}

.event .event-item .event-infor .event-date {
    width: 100px;
    height: 32px;
    background-color: #ffc78b;
    color: #fff;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event .event-item .event-infor a {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-decoration: none;
    color: #2f2d51;
}

.event .event-item .event-time {
    display: flex;
    align-items: center;
}

.event .event-item .event-time svg{
    margin-right: 10px;
}

.event .event-item .event-time {
    margin-top: 6px;
    color: #77838F;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
}

/* =================================RATE========================== */
.rate {
    background-color: #f7f9fb;
    padding: 100px 0 96px;
}

.rate h2 {
    color: #2f2d51;
    font-size: 35px;
    font-weight: 500;
}

.rate .rate-row {
    display: flex;
    justify-content: space-between;
}

.rate .rate-row .rate-sub {
    margin-top: 16px;
    color: #77838F;
    font-size: 18px;
    font-weight: 400;
}

.rate .rate-row .all-rate {
    margin-top: 16px;
    text-decoration: none;
    font-size: 16px;
    color: #090761;
    font-weight: 600;
}

.rate .rate-user {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.rate .rate-user svg  {
    width: 14px;
    height: 14px;
    background-color: white;
    fill: #d0d6db;
    background-clip: text;
    border-radius: 999px;
}



/* =================================NEW=========================== */
.news {
    padding: 100px 0 95px;
}

.news h2 {
    color: #2f2d51;
    font-size: 35px;
    font-weight: 500;
}

.news .news-row {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.news .news-row .news-sub {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    color: #77838F;
}

.news .news-row .all-news {
    text-decoration: none;
    font-size: 16px;
    color: #090761;
    font-weight: 600;
}

.news .news-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.news .news-content .news-item {
    padding: 9px 9px 25px 9px;
    max-width: 32%;
    box-shadow: 0 0.5rem 0.937rem rgb(140 152 164 / 10%);
    border: 1px solid #E7E7EC;
    border-radius: 5px;
}

.news .news-content .news-item{
    transition: transform 0.3s ease;
}

.news .news-content .news-item:hover {
    transform: translateY(-5px);
}

.news .news-content .news-item img {
    width: 332px;
    height: 235px;
    object-fit: cover;
}

.img-contain {
    overflow: hidden;
}

.news .news-content .news-item img{
    transition: transform 0.6s ease;
}

.news .news-content .news-item img:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.news .news-content .news-item .news-info {
    padding: 0 0px 0 9px;
}

.news .news-item .new-info-top {
    display: flex;
    margin-top: 22px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #77838F;
    margin-bottom: 20px;
}

.news .news-item .new-info-top svg {
    margin-right: 9px;
}

.news .news-item .new-info-top .new-author {
    margin-right: 50px;
}

.news .news-item .news-info .new-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-decoration: none;
    color: #2f2d51;
}
